@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

body, p, ul, h1, h2, h3, h4, h5, h6, button {
  margin: 0 auto;
  padding: 0;
  display: block;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  display: block;
}

a {
  display: block;
}

p {
  display: block;
}

::-webkit-input-placeholder {
  color: #c0392b;
  margin-left: 10px;
}

::-moz-placeholder {
  color: #c0392b;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #c0392b;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #c0392b;
}

.container {
  padding: 0 10px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.section {
  padding: 100px 0;
}

.section-product__info {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 15px;
}

.section-product__main {
  font-family: Titan One, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 180px;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .ice-cream__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .ice-cream__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}

.ice-cream__item {
  border-radius: 24px;
  margin-bottom: 140px;
}

@media screen and (min-width: 768px) {
  .ice-cream__item {
    width: 220px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

.ice-cream {
  position: relative;
  padding: 160px 40px 40px;
  background: #FFB8CA;
}

@media screen and (min-width: 768px) {
  .ice-cream {
    padding: 160px 10px 40px;
    width: auto;
  }
}

@media screen and (min-width: 1280px) {
  .ice-cream {
    padding: 160px 10px 40px;
    width: auto;
  }
}

.ice-cream ::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -116px;
  display: block;
  margin: 0 auto;
  background-image: url("./../images/pink_icecream_mob_1x.png");
  width: 249px;
  height: 242px;
  background-position: center;
  background-size: 249px 242px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ice-cream ::before {
    background-image: url("./../images/pink_icecream_mob_2x.png");
    width: 249px;
    height: 242px;
    background-position: center;
    background-size: 249px 242px;
  }
}

@media screen and (min-width: 768px) {
  .ice-cream ::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -116px;
    display: block;
    margin: 0 auto;
    background-image: url("./../images/pink_icecream_tab_1x.png");
    width: 220px;
    height: 226px;
    background-position: center;
    background-size: 220px 226px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .ice-cream ::before {
    background-image: url("./../images/pink_icecream_tab_2x.png");
    width: 220px;
    height: 226px;
    background-position: center;
    background-size: 220px 226px;
  }
}

@media screen and (min-width: 1280px) {
  .ice-cream ::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -116px;
    display: block;
    margin: 0 auto;
    background-image: url("./../images/pink_icecream_desct_1x.png");
    width: 335px;
    height: 335px;
    background-position: center;
    background-size: 335px 335px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .ice-cream ::before {
    background-image: url("./../images/pink_icecream_desct_2x.png");
    width: 335px;
    height: 335px;
    background-position: center;
    background-size: 335px 335px;
  }
}

.ice-coffee {
  position: relative;
  padding: 160px 40px 40px;
  background: #F0D1A5;
}

@media screen and (min-width: 768px) {
  .ice-coffee {
    padding: 160px 10px 40px;
    width: auto;
  }
}

.ice-coffee ::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -116px;
  display: block;
  margin: 0 auto;
  background-image: url("./../images/ice-coffe_mob_1x.png");
  width: 249px;
  height: 242px;
  background-position: center;
  background-size: 249px 242px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ice-coffee ::before {
    background-image: url("./../images/ice-coffe_mob_2x.png");
    width: 249px;
    height: 242px;
    background-position: center;
    background-size: 249px 242px;
  }
}

@media screen and (min-width: 768px) {
  .ice-coffee ::before ::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -116px;
    display: block;
    margin: 0 auto;
    background-image: url("./../images/ice-coffe_tab_1x.png");
    width: 220px;
    height: 226px;
    background-position: center;
    background-size: 220px 226px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .ice-coffee ::before ::before {
    background-image: url("./../images/ice-coffe_tab_2x.png");
    width: 220px;
    height: 226px;
    background-position: center;
    background-size: 220px 226px;
  }
}

@media screen and (min-width: 1280px) {
  .ice-coffee ::before {
    background-image: url("./../images/ice-coffe_desct_1x.png");
    width: 335px;
    height: 335px;
    background-position: center;
    background-size: 249px 242px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .ice-coffee ::before {
    background-image: url("./../images/ice-coffe_desct_2x.png");
    width: 335px;
    height: 335px;
    background-position: center;
    background-size: 335px 335px;
  }
}

.milkshakes {
  position: relative;
  padding: 160px 40px 40px;
  background: #FFB8CA;
}

@media screen and (min-width: 768px) {
  .milkshakes {
    padding: 160px 10px 40px;
    width: auto;
  }
}

@media screen and (min-width: 1280px) {
  .milkshakes {
    padding: 160px 10px 40px;
    width: auto;
  }
}

.milkshakes ::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -116px;
  display: block;
  margin: 0 auto;
  background-image: url("./../images/milkshakes_mob_1x.png");
  width: 249px;
  height: 242px;
  background-position: center;
  background-size: 249px 242px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .milkshakes ::before {
    background-image: url("./../images/milkshakes_mob_2x.png");
    width: 249px;
    height: 242px;
    background-position: center;
    background-size: 249px 242px;
  }
}

@media screen and (min-width: 768px) {
  .milkshakes {
    background-image: url("./../images/milkshakes_tab_1x.png");
    width: 220px;
    height: 226px;
    background-position: center;
    background-size: 220px 226px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .milkshakes {
    background-image: url("./../images/milkshakes_tab_2x.png");
    width: 220px;
    height: 226px;
    background-position: center;
    background-size: 220px 226px;
  }
}

@media screen and (min-width: 1280px) {
  .milkshakes {
    background-image: url("./../images/milkshakes_desct_1x.png");
    width: 335px;
    height: 335px;
    background-position: center;
    background-size: 335px 335px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .milkshakes {
    background-image: url("./../images/milkshakes_desct_2x.png");
    width: 335px;
    height: 335px;
    background-position: center;
    background-size: 335px 335px;
  }
}

.ice-cream__item__name {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.ice-cream__item__name ::after {
  content: '';
  position: absolute;
  background-image: url("./../images/Ellipse 5.png"), url("./../images/Ellipse 5.png"), url("./../images/Ellipse 5.png");
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
}

.ice-cream__item__info {
  padding: 30px 0;
  font-family: DM Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.ice-cream__button {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  border: none;
}
/*# sourceMappingURL=main.css.map */