<section class="about" id="about-us">
    <div class="container">

        <p class="pre-title pre-title--spacing about-pre__title">tradition and love</p>
        <h2 class="section-title title--red about__title ">how it’s made?</h2>

        <div class="about-container">

            <div class="about-content">

                <p class="about-content__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>

                
                <p class="about-content__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. </p>

                <p class="about-content__text">Aliquam erat volutpat. Aenean accumsan.</p>
                
                <div class="about-button">
                    <button type="button" class="button button--white">Read more<span class="arrow"></span></button>
                </div>
                
            </div>

        </div>
        
        
    </div>
    
</section>