<section class="about">
    <div class="container">

        <p class="about-pre__title">tradition and love</p>
        <h2 class="about__title section__title title--red">how it’s made?</h2>

        <div class="about-container">

            <div class="about-content">

                <p class="about-content__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>

                
                <p class="about-content__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. </p>

                <p class="about-content__text">Aliquam erat volutpat. Aenean accumsan.</p>
                
                <div class="about-button">
                    <button type="button" class="button button--white">Read more<span class="arrow"></span></button>
                </div>
                
            </div>

        </div>



        
    </div>


    
        <picture>
        
            <source srcset="
                ./images/about/milk-desktop.png 1x,
                ./images/about/milk-desktop2x.png 2x" media="(min-width:1200px)">
        
            <source srcset="
                ./images/about/milk-mob.png 1x,
                ./images/about/milk-mob2x.png 2x" media="(min-width:320px)">
        
            <img src="./images/about/milk-desktop2x.png" alt="milk" class="about-milk">
        </picture>
    
        

</section>