<section class="advantages">
    <div class="container">     
        <h2 class="section__title visually-hidden">advantages</h2>   
        <ul class="advantages__list list">
            <li class="advantages__item">
                <div class="advantages__item-pic1 advantages-pic"></div>
                <p class="advantages__item-text">721</p>
                <p class="advantages__item-p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__item-pic2 advantages-pic"></div>                
                <p class="advantages__item-text">16kg</p>        
                <p class="advantages__item-p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>      
            </li>
            <li class="advantages__item">
                <div class="advantages__item-pic3 advantages-pic"></div>  
                <p class="advantages__item-text">84</p>
                <p class="advantages__item-p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>                
            </li>
        </ul>
    </div>
</section>