    <section class="advantages-section">
        <div class="container">     
            <h2 class="section__title visually-hidden">advantages</h2>   
            <ul class="advantages__list list">
                <li class="advantages__item">
                    <div class="advantages__pic--first advantages__pic"></div>
                    <p class="advantages__item-text">721</p>
                    <p class="advantages__item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class="advantages__item">
                    <div class="advantages__pic--second advantages__pic"></div>                
                    <p class="advantages__item-text">16kg</p>        
                    <p class="advantages__item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>      
                </li>
                <li class="advantages__item">
                    <div class="advantages__pic--third advantages__pic"></div>  
                    <p class="advantages__item-text">84</p>
                    <p class="advantages__item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>                
                </li>
            </ul>
        </div>
    </section>  

