    <section class="advantages-section">
        <div class="container">     
            <h2 class="section__title visually-hidden">advantages</h2>   
            <ul class="advantages__list list">
                <li class="advantages__item">
                    <p class="advantages__item-text advantages__pic--first">721</p>
                    <p class="advantages__item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li class="advantages__item">               
                    <p class="advantages__item-text advantages__pic--second advantages__item--upp">16kg</p>        
                    <p class="advantages__item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>      
                </li>
                <li class="advantages__item">
                    <p class="advantages__item-text advantages__pic--third">84</p>
                    <p class="advantages__item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>                
                </li>
            </ul>
        </div>
    </section>  

