<section id=contacts class="contacts">
    <div class="container">
        <div class="contacts-wrapp"> 
        <h2 class="visually-hidden">Contacts</h2>

        <ul class="list contacts__list">
            <li class="card">
                <div class="card__item">
                    <p class="card__title">CAFE</p>
                </div>
                <p class="card__subtitle">Chicago</p>
                <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="list list card__list">
                    <li class="card__point">
                        <p class="card__subtitle">Monday - Friday</p>
                        <p class="card__subtitle card__subtitle--pink">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="card__point">
                        <p class="card__subtitle">Saturday - Sunday</p>
                        <p class="card__subtitle card__subtitle--pink">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <a class="contacts__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>

            </li>
            <li class="card">
                <div class="card__item card__item--green">
                    <p class="card__title">FOOD TRUCK</p>
                </div>
                <p class="card__subtitle">Los Angeles</p>
                <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="list card__list">
                    <li class="card__point">
                        <p class="card__subtitle">Monday - Friday</p>
                        <p class="card__subtitle card__subtitle--pink">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="card__point">
                        <p class="card__subtitle">Saturday - Sunday</p>
                        <p class="card__subtitle card__subtitle--pink">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <a class="contacts__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>

            </li>
            <li class="card">
                <div class="card__item">
                    <p class="card__title">CAFE</p>
                </div>
                <p class="card__subtitle">New York</p>
                <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="list card__list">
                    <li class="card__point">
                        <p class="card__subtitle">Monday - Friday</p>
                        <p class="card__subtitle card__subtitle--pink">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="card__point">
                        <p class="card__subtitle">Saturday - Sunday</p>
                        <p class="card__subtitle card__subtitle--pink">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <a class="contacts__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                <a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>

            </li>

        </ul>
            <ul class="list contacts-bnt">
              
                <li class="contacts-bnt__item"><button type="button" class="button button--size button--red data-modal-open-btn">
                        Our Locations
                        <span class="arrow"></span></button></li>
                <li class="contacts-bnt__item"><button type="button" class="button button--size button--white">
                        Franchise
                        <span class="arrow"></span></button></li>
            </ul>
    </div>
    </div>
</section>

<div class="backdrop is-hidden backdrop-data-modal">

    <div class="modal-map">
        <button class="map__button button--white button--size data-modal-close-btn">
            <svg class="map__icon">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="section-title title--media">Our Locations</p>
<iframe class="map"
    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d23681221.043657552!2d-109.855202!3d43.569591!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1642448641872!5m2!1sru!2sua"
    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        


        <p class="title title--media">Come and taste best icecream ever</p>
    </div>
</div>