<button type="button" class="button button--white">Buy now<span class="arrow"></span></button>

<ul class="header-list">
    <li class="header-item"><a class="site-button button--white" href="#">Products</a></li>
    <li class="header-item"><a class="site-button button--red" href="#">How it’s made?</a></li>
</ul>

<button type="button" class="button button--white button--menu">Franchise</button>
<button type="button" class="button--white button--round">
    
        <svg class="arrow-icon" width="10" height="10">
            <use href="./images/symbols.svg#icon-arrow"></use>
        </svg>
    
</button>
