<header class="site-header header">
    <nav class="header-nav header-conteiner">
        <div class="header__logo-div">
            <a href="" class="header__link">
            <img class="header__logo"  src="./images/favicon/favicon.png"
                alt="company logo"></a>
                <p class="header__company-name">icecream</p>
                </div>
        <ul class="list header-nav__list header-nav__list--desktop">
            <li class="header-nav__item item">
                <a href="#hero" class="header-nav__link link">Home</a>
            </li>
            <li class="header-nav__item item">
                <a href="#advantage" class="header-nav__link link">About us</a>
            </li>
            <li class="header-nav__item item">
                <a href="#about_us" class="header-nav__link link">How it’s made?</a>
            </li>
            <li class="header-nav__item item">
                <a href="#products" class="header-nav__link link">Our products</a>
            </li>
            <li class="header-nav__item item">
                <a href="#contacts" class="header-nav__link link">Contact</a>
            </li>
        </ul>
        <div class="header-btn-wrap">
            <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu"
            type="button">0
            <!-- <svg width="20" height="12">
                <use href="images/svg/icons.svg#icon-burger"></use>
            </svg> -->
        </button>
        <button class="button header-btn button--white">Buy now
            <!-- <svg class="header-btn__icon" width="10" height="10">
                <use href="images/svg/icons.svg#icon-vector"></use>
            </svg> -->
        </button></div>
    </nav>

<!-- Mobile menu -->

    <div class="mobile-backdrop">
    <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu-toggle js-close-menu" aria-expanded="false" aria-controls="mobile-menu" type="button">X
            <!-- <svg width="20" height="20">
                <use href="images/svg/icons.svg#icon-close"></use>
            </svg> -->
        </button>
        <button class="button button--white button--menu mobile-menu-btn">Buy now
            <!-- <svg width="10" height="10">
                <use href="images/svg/icons.svg#icon-vector"></use>
            </svg> -->
        </button>
        <ul class="mob-menu list header-menu">
            <li class="mob-menu__item item item">
                <a href="#hero" class="mob-menu__link link">Home</a>
            </li>
            <li class="mob-menu__item item item">
                <a href="#advantage" class="mob-menu__link link">About us</a>
            </li>
            <li class="mob-menu__item item item">
                <a href="#about us" class="mob-menu__link link">How it’s made?</a>
            </li>
            <li class="mob-menu__item item item">
                <a href="#products" class="mob-menu__link link">Our products</a>
            </li>
            <li class="mob-menu__item item item">
                <a href="#contacts" class="mob-menu__link link">Contact</a>
            </li>
        </ul>
    </div>
</div>
</header>
