<section class="section section-products">
    <div class="container">
        <p class="section-product__info">100% natural</p>
        <h2 class="section-product__main">products</h2>
    
        <ul class="ice-cream__list">

            <li class="ice-cream__item ice-cream">
                <h4 class="ice-cream__item__name">ice cream</h4>
                
                <p class="ice-cream__item__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a href="" class="ice-cream__button__link"></a>
                <button class="ice-cream__button">
                    <svg class="right_arrow" width="10" height="10">
                        <use href="./images/symbol-defs.svg#icon-arrow-right"></use> 
                    </svg>
                </button>
            </li>
            
            <li class="ice-cream__item ice-coffee">
            <h4 class="ice-cream__item__name">ice coffee</h4>
            <ul class="round">
                <li class="round__item"></li>
                <li class="round__item"></li>
                <li class="round__item"></li>
            </ul>
            <p class="ice-cream__item__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <a href="" class="ice-cream__button__link"></a>
            <button class="ice-cream__button">
                <svg class="right_arrow" width="10" height="10">
                    <use href="./images/symbol-defs.svg#icon-arrow-right"></use> 
                </svg>
            </button>
            </li>
    
            <li class="ice-cream__item milkshakes">
                     <h4 class="ice-cream__item__name">milkshakes</h4>
                     <ul class="round">
                        <li class="round__item"></li>
                        <li class="round__item"></li>
                        <li class="round__item"></li>
                    </ul>
                     <p class="ice-cream__item__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <a href="" class="ice-cream__button__link"></a>
                    <button class="ice-cream__button">
                        <svg class="right_arrow" width="10" height="10">
                            <use href="./images/symbol-defs.svg#icon-arrow-right"></use> 
                        </svg>
                    </button>
            </li>

        </ul>
    </div>
</section>