<header class="site-header header">
    <div class="header-wrap header-nav conteiner">
        <a href="" class="header-wrap--link">
            <img class="header-wrap--img" srcset="./images/site-header/logo.png 1x, ./images/site-header/logo.png 2x" src="./images/site-header/logo.png"
                alt="company logo"></a>
        <ul class="list header-menu">
            <li class="header-menu-item item">
                <a href="#hero" class="header-menu-link link">Home</a>
            </li>
            <li class="header-menu-item item">
                <a href="#advantage" class="header-menu-link link">About us</a>
            </li>
            <li class="header-menu-item item">
                <a href="#about us" class="header-menu-link link">How it’s made?</a>
            </li>
            <li class="header-menu-item item">
                <a href="#products" class="header-menu-link link">Our products</a>
            </li>
            <li class="header-menu-item item">
                <a href="#contacts" class="header-menu-link link">Contact</a>
            </li>
        </ul>
        <button class="header-wrap--btn menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu"
            type="button">0
            <!-- <svg width="20" height="12">
                <use href="images/svg/icons.svg#icon-burger"></use>
            </svg> -->
        </button>
        <button class="header-menu-btn header-btn button button--white">Buy now
            <!-- <svg class="header-btn__icon" width="10" height="10">
                <use href="images/svg/icons.svg#icon-vector"></use>
            </svg> -->
        </button>

    </div>
    <div class="mob-menu menu-container js-menu-container" id="mobile-menu">
        <button class="menu-toggle js-close-menu" aria-expanded="false" aria-controls="mobile-menu" type="button">X
            <!-- <svg width="20" height="20">
                <use href="images/svg/icons.svg#icon-close"></use>
            </svg> -->
        </button>
        <button class="header-menu-btn">Buy now
            <!-- <svg width="10" height="10">
                <use href="images/svg/icons.svg#icon-vector"></use>
            </svg> -->
        </button>
        <ul class="mob-menu-list list header-menu">
            <li class="mob-menu-item item">Home</li>
            <li class="mob-menu-item item">About us</li>
            <li class="mob-menu-item item">How it’s made?</li>
            <li class="mob-menu-item item">Our products</li>
            <li class="mob-menu-item item">Contact</li>
        </ul>
    </div>
</header>
