<section class="reviews">
    <div class="container">
    <h2 class="visually-hidden">Reviews</h2>
    <div class="carousel">
        <img src="images/reviews/testimonials1.png" alt="">
    </div>
    <div class="reviews__content">
        <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.</p>
    </div>
    <div class="reviews__points">...</div>
    <div class="reviews__address">
        <p>Emily, Los Angeles</p>
    </div>
    </div>
</section>