// Заголовок h1 title
.title {
  font-family: $secondaryFont;
  font-weight: 400;
  font-size: $fontSizeTitle;
  line-height: $lineHeightTitle;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $mainColor;
}
.title--red {
  font-size: 48px;
  line-height: $lineHeightTitleAccent;
  color: $secondaryColor;
  @media screen and (min-width: $tablet) {
    font-size: 34px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 58px;
  }
}

// Заголовок h2
.section-title {
  font-family: $secondaryFont;
  font-weight: 400;
  font-size: $fontSizeSectionTitle;
  line-height: $lineHeightSectionTitle;
  letter-spacing: $letterSpSectionTitle;
  text-transform: uppercase;
  color: $secondaryColor;
}
.pre-title {
  font-family: $secondaryFont;
  font-weight: 400;
  font-size: $fontSizeLbTitle;
  line-height: 1.17;
  text-transform: uppercase;
  color: $pinkColor;
  @media screen and (min-width: $tablet) {
    line-height: 1.15;
  }

  @media screen and (min-width: $desktop) {
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.pre-title--spacing {
  letter-spacing: 0.04em;
}
