.advantages-section {
    background-color: $contrastBgColor;
    padding-bottom: 97px;
    padding-top: 39px;
    
    @media screen and (min-width: $tablet){
       padding-top: 66px;
       padding-bottom: 140px;
    }
    @media screen and (min-width: $desktop){
        padding-top: 39px;
        padding-bottom: 139px;
    }
}
.advantages__list {
        li:not(:last-child) {
            margin-bottom: 38px;
        }
   
    @media screen and (min-width: $tablet) {
        display: flex;   
        margin-right: -20px;     
        
        li:not(:last-child) {
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: $desktop) {        
        justify-content: center;
        margin-right: -30px;        
    }
}
.advantages__item { 
    max-width: 230px;
    
    @media screen and (min-width: $mobile){
        width: 230px;
        max-width: none;
    }
    
    @media screen and (min-width: $tablet) {
        margin-right: 60px;
        flex-basis: calc(100% / 3);
    }
    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 218px) / 3);
        margin-right: 30px;
    }
}
.advantages__pic {
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
        margin-bottom: 36px;
    }
    @media screen and (min-width: $desktop) {
        margin-bottom: 40px;
    }
}
.advantages__pic--first {
    width: 33px;
    height: 50px;
    display: flex;
    &::before {
        width: 33px;
        height: 50px;
        content: '';
        background-image: url(../images/advantages/adv-icon1.png);
        background-size: 33px 50px;
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/advantages/adv-icon1-2x.png);
        }
    }
}
.advantages__pic--second {
    width: 50px;
    height: 50px;
    display: flex;
    &::before {
        width: 50px;
        height: 50px;
        content: '';
        background-image: url(../images/advantages/adv-icon2.png);
        background-size: 50px 50px;
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/advantages/adv-icon2-2x.png);
        }
    }
}
.advantages__pic--third {
    width: 44px;
    height: 50px;
    display: flex;
    &::before {
        width: 44px;
        height: 50px;
        content: '';
        background-image: url(../images/advantages/adv-icon3.png);
        background-size: 44px 50px;
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url(../images/advantages/adv-icon3-2x.png);
        }
    }
}
.advantages__item-text { 
    font-family: Titan One;
    text-transform: uppercase;
    color: $secondaryColor;     
    letter-spacing: 0.04em;
    font-size: 36px;
    line-height: 1.14;
    width: 98px;
    height: 56px;
    font-weight: 400;
    
    @media screen and (min-width: $tablet){ 
        font-size: 48px;        
        margin-bottom: 13px;
        width: auto;
        height: auto;
    }
    @media screen and (min-width: $desktop){
        letter-spacing: 0.06em;        
        font-size: 58px;
        line-height: 1.13;
        margin-bottom: 15px;
    }
}
.advantages__item-description {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.70;
    color: $textColor;
    @media screen and (min-width: $tablet){        
        font-size: 14px;
        line-height: 1.74;
    }
    @media screen and (min-width: $desktop){      
        letter-spacing: 0.02em;        
        font-size: 16px;
        line-height: 1.76;
    }
}