.footer-copyright {
  padding-top: 22px;
  padding-bottom: 25px;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  background-color: $contrastBgColor;

  @media screen and (min-width: $tablet) {
    padding-top: 29px;
    padding-bottom: 18px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

.footer-copyright__text {
  //   max-width: 150px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: $greyColor;

  @media screen and (max-width: 767px) {
    max-width: 150px;
  }

  @media screen and (min-width: $desktop) {
    line-height: 1.9;
    letter-spacing: 0.02em;
  }
}
