.gallery{
    background:  linear-gradient(to top, $mainColor 76%, $contrastBgColor 31%);
    padding-bottom: 80px;       
    @media screen and (min-width: $tablet){
        padding-bottom: 121px;
        background:  linear-gradient(to top, $mainColor 72.7%, $contrastBgColor 30%);        
    }
    @media screen and (min-width: $desktop){
        padding-bottom: 123px;
<<<<<<< Updated upstream
    }

        
=======
        background:  linear-gradient(to top, $mainColor 69%, $contrastBgColor 31%);
    }        
>>>>>>> Stashed changes
}

.gallery .container{
    display: flex;
    justify-content: center;
<<<<<<< Updated upstream
}
.gallery-pic{    
    background-size: cover; 
=======
    
    padding-left: 0;
    padding-right: 0;
}
.gallery-pic{    
    background-size: cover ; 
>>>>>>> Stashed changes
    background-image: url(../images/gallery/gal-pic-mob.jpg);
    width: 320px;
    height: 122px;    


    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {      
        background-image: url(../images/gallery/gal-pic-mob-2x.jpg);
<<<<<<< Updated upstream
    }   
=======
    }
    @media screen and (max-width: 320px) {
        width: 100%;
        height: 122px;
    }
>>>>>>> Stashed changes
           
    @media screen and (min-width: $tablet){
        background-image: url(../images/gallery/gal-pic-tablet.jpg);
        width: 768px;
        height: 264px;
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {      
            background-image: url(../images/gallery/gal-pic-tablet-2x.jpg);}
    }

    @media screen and (min-width: $desktop){
        background-image: url(../images/gallery/gal-pic.jpg) ;
        width: 1280px;
        height: 430px;
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {      
            background-image:  url(../images/gallery/gal-pic-2x.jpg);}
    }
}

